<div id="tf-page-header" class="layout-two text-center">
  <div class="container">
    <h5><em>Hi there!</em></h5>
    <hr>
    <h2 class="text-uppercase">About <%= @profile.user.first_name %></h2>
  </div>
</div>
