<div id="tf-page-header" class="layout-two text-center">
  <div class="container">
    <h5><em>Thank You!</em></h5>
    <hr>
    <h2 class="text-uppercase">About Conscioux</h2>
  </div>
</div>


<div id="tf-content" class="about">
  <div class="container">
    <!-- Container -->
    <div class="row">
      <!-- Row -->
      <div class="col-md-10 col-md-offset-1">
        <!-- About us content -->
        <div class="post-block">
          <div class="post-detail">
            <h3 class="text-center">Mission of Team Conscioux</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean volutpat 
                arcu ut sapien dapibus, tempus volutpat enim aliquam. Cras sed bibendum ante. 
                Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus 
                mus. Ut fringilla justo leo, vitae vestibulum quam facilisis sit amet. 
                Interdum et malesuada fames ac ante ipsum primis in faucibus. Ut at lacinia dui, 
                at varius diam. Pellentesque fermentum, libero in aliquam aliquet, augue est 
                consequat ipsum, non malesuada sapien urna et arcu. </p>

            <blockquote>Vlamorous. The definition.</blockquote>

            <div class="row">
              <div class="col-md-6">
                <h3>Eco-Friendly</h3>
                <p>Phasellus ut est vestibulum, 
                  condimentum turpis sed, faucibus ipsum. Vivamus tincidunt neque et mi lacinia 
                  tincidunt. Nullam sed sapien lectus. Nam volutpat venenatis lacus, in pellentesque 
                  turpis malesuada vitae. Quisque porta odio vitae posuere lacinia.</p>
              </div>

              <div class="col-md-6">
                <h3>Healthy</h3>
                <p>Phasellus ut est vestibulum, 
                  condimentum turpis sed, faucibus ipsum. Vivamus tincidunt neque et mi lacinia 
                  tincidunt. Nullam sed sapien lectus. Nam volutpat venenatis lacus, in pellentesque 
                  turpis malesuada vitae. Quisque porta odio vitae posuere lacinia.</p>
              </div>

              <div class="col-md-6">
                <h3>Animal-Friendly</h3>
                <p>Phasellus ut est vestibulum, 
                  condimentum turpis sed, faucibus ipsum. Vivamus tincidunt neque et mi lacinia 
                  tincidunt. Nullam sed sapien lectus. Nam volutpat venenatis lacus, in pellentesque 
                  turpis malesuada vitae. Quisque porta odio vitae posuere lacinia.</p>
              </div>

              <div class="col-md-6">
                <h3>Luxury</h3>
               <p>Phasellus ut est vestibulum, 
                  condimentum turpis sed, faucibus ipsum. Vivamus tincidunt neque et mi lacinia 
                  tincidunt. Nullam sed sapien lectus. Nam volutpat venenatis lacus, in pellentesque 
                  turpis malesuada vitae. Quisque porta odio vitae posuere lacinia.</p>
              </div>

            </div>
            <h3 class="text-center">About the Founders</h3>
            <p>Phasellus ut est vestibulum, 
              condimentum turpis sed, faucibus ipsum. Vivamus tincidunt neque et mi lacinia 
              tincidunt. Nullam sed sapien lectus. Nam volutpat venenatis lacus, in pellentesque 
              turpis malesuada vitae. Quisque porta odio vitae posuere lacinia.</p>
          </div>

        </div>

      </div>
      <!-- endAbout us content -->

    </div>
    <!-- end Row -->
  </div>
  <!-- End Container -->
</div>
