<div class="row text-center">
  <div id="tf-page-header" class="text-center">
    <div class="container">
      <h5><em>Got an honest product?</em></h5>
      <hr>
      <h2 class="text-uppercase">Request a Review</h2>
    </div>
  </div>
</div>

<div id="tf-content" class="about">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="post-block"> 
          <div class="post-detail">
              
            <h3 class="text-center">Our <span class="golden">Golden</span> Rule</h3>

            <p>Conscioux only lists high-quality and eco-friendly products. We promise  
            that our reviews reflect our real experience. We are open for review requests from 
            companies that meet our criteria. We do not write negative reviews, 
            instead we do not guarantee that your product will be listed. If we believe 
            that your product does not meet our standards we will get in touch with you to 
            explain why.</p>
            
            <h3 class="text-center">Conscioux Review Criteria</h3>
            <div class="row">
              <div class="col-md-6">
                <h3>Eco-Friendly</h3>
                <p>A blog is basically an online journal wherein you can digitally pen down your thoughts, ideas, opinions and practically anything that you want people to read. Blogs come in different styles, formats, and settings, depending on the preference of the user.</p>
              </div>

              <div class="col-md-6">
                <h3>Healthy</h3>
                <p>Anyone who wants to start a blog can do so by becoming a member of a blogging website of their choice. Once they've become members, they automatically become a part of that particular blogging community.</p>
              </div>
              
              <div class="col-md-6">
                <h3>Animal-Friendly</h3>
                <p>A blog is basically an online journal wherein you can digitally pen down your thoughts, ideas, opinions and practically anything that you want people to read. Blogs come in different styles, formats, and settings, depending on the preference of the user.</p>
              </div>

              <div class="col-md-6">
                <h3>Luxury</h3>
                <p>Anyone who wants to start a blog can do so by becoming a member of a blogging website of their choice. Once they've become members, they automatically become a part of that particular blogging community.</p>
              </div>
              
              <h3 class="text-center">Request a Review</h3>

              <div class="text-center col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-12 col-xs-12">
                <%= link_to 'Contact Us', contact_path, class: 'btn btn-default btn-block tf-btn color' %>
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
