@import url(https://fonts.googleapis.com/css?family=Pacifico);


.conscioux-title {
  font-family: Pacifico;
  margin-bottom: 15px;
  font-size: 60px;
  color: white !important;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black !important;
  margin-top: 15px;
}

