@import url(https://fonts.googleapis.com/css?family=Pacifico);


.conscioux-title {
  font-family: Pacifico;
  margin-bottom: 15px;
  font-size: 60px;
  color: white !important;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black !important;
  margin-top: 15px;
}

.well {
  margin-top: 50px;
  margin-bottom: 30px;
  background-color: #b3d9ff;
}

.form-control {
  background-color: white !important;
}

hr {
  border-color: #BE834A;
  width: 150px;
  margin-top: 10px;
  margin-bottom: -7px;
}

.cosmetics-header {
  letter-spacing: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
  
}

.cosmetics-categories {
  margin-top: 50px;
  margin-bottom: 50px;
  letter-spacing: 5px;
  text-align: center;
}

.cosmetics-explanation-title {
  margin-top: 40px !important;
  padding-top: 20px;
  text-align: center;
  font-size: 30px;
}

//New contact button about page
.col-md-6.col-md-push-3 {
  margin-bottom: 20px;
}

//New cosmetics review button
.text-center.col-lg-6.col-lg-offset-3.col-md-6.col-md-offset-3.col-sm-12.col-xs-12 {
  margin-top: 20px;
  
}

//For youtube videos
.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
  width: 100%;
  height: auto;
  margin-bottom: 12px;
} 

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
}

// End Youtube Videos
#vlamorous-content { 
  padding-top: 60px; 
  background-color: black;

}
#vlamorous-content.blog { padding-top: 100px }
.blog-post {
    border: 0;
    background: #f1f1f1;
    margin-bottom: 10px;
}

.choose-cosmetics {
  margin-bottom: 30px !important;
}

.uncondensed {
  letter-spacing: 0px !important;
}

.white {
  color: white !important;
}

.no-markup {
  text-decoration: none !important;
  color: white !important;
}

.no-markup:hover {
  text-decoration: none !important;
  color: white !important;
  background-color: none !important;
}

.cosmetics-button {
  font-size: 25px;
  padding: 10 10 10 10;
  margin-bottom: 20px;
  border: 2px solid black;
  border-radius: 0px;
}

.cosmetics-button:hover {
  background: #BE834A;
  border: 2px solid #BE834A;
}

// Code below for the cosmetics reviews index page

.cosmetics-review {
  background: #333031 !important;
  border: 2px solid #be834a;
}

.cosmetics-review:hover {
  background-color: #be834a;
}

.cosmetics-review-index {
  padding-left: 10px;
  padding-right: 10px;
  color: white !important;
}

.cosmetics-review-index-ul {
  list-style-type: none;
}











.card {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.card {
  margin-top: 10px;
  box-sizing: border-box;
  border-radius: 2px;
  background-clip: padding-box;
}
.card span.card-title {
    color: black;
    font-size: 24px;
    font-weight: 300;
    text-transform: uppercase;
}

.card .card-image {
  position: relative;
  overflow: hidden;
}
.card .card-image img {
  border-radius: 2px 2px 0 0;
  background-clip: padding-box;
  position: relative;
  z-index: -1;
}
.card .card-image span.card-title {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 16px;
}
.card .card-content {
  padding: 16px;
  border-radius: 0 0 2px 2px;
  background-clip: padding-box;
  box-sizing: border-box;
}
.card .card-content p {
  margin: 0;
  color: inherit;
}
.card .card-content span.card-title {
  line-height: 48px;
}
.card .card-action {
  border-top: 1px solid rgba(160, 160, 160, 0.2);
  padding: 16px;
}
.card .card-action a {
  color: #ffab40;
  margin-right: 16px;
  transition: color 0.3s ease;
  text-transform: uppercase;
}
.card .card-action a:hover {
  color: #ffd8a6;
  text-decoration: none;
}

