<h1 class="text-center">Edit <%= @product.name %> under <%= @category.name %> Category</h1>

<%= render 'form' %>

<div class="text-center back">
  <%= link_to "Back to #{@product.name}", category_product_path(@category, @product) %>
</div>