<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">

      <div class="post-block">
        <div class="post-detail">
          
          <div class="post-detail text-center">
            <h4>Honest reviews about honest brands.</h4> 
            <h5 class="uncondensed">Only ethical, organic products, that are not tested on animals.</h5>
          </div>

          <div class="row">
            <div class="col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
              <%= link_to 'Read More', about_path, class: 'btn btn-default btn-block tf-btn color' %>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>