<!-- Facebook Link -->
<li>
    <a href="#" alt="Conscioux.com"><i class="fa fa-facebook"></i></a>
</li>

<!-- Pinterest Link -->
<li>
    <a href="#" alt="Conscioux.com"><i class="fa fa-pinterest"></i></a>
</li>

<!-- Instagram Link -->
<li>
    <a href="#" alt="Conscioux.com"><i class="fa fa-instagram"></i></a>
</li>

<!-- Twitter Link -->
<li>
    <a href="#" alt="Conscioux.com"><i class="fa fa-twitter"></i></a>
</li>